*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

.overlay{
    display: none;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #2c3e50;
     background-color: #2378e7;
    padding: 20px;
    
    font-weight: 600;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.logo{
    font-weight: bold;
}
.logo strong{
    color: #f1c40f;
}
.nav-links{
    list-style: none;
    display: flex;
}
.nav-links li{
    margin-left: 20px;
    margin-top: 10px;
}
.nav-links a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}
.hamburger{
    display: none;
    flex-direction: column;
    cursor: pointer;
}
.hamburger>.bar{
    height: 3px;
    width: 25px;
    background-color: #fff;
    margin: 4px 0;
    border-radius: 2px;
}
.close-btn{
    display: none;
    position: fixed;
    width: 24px;
    height: 24px;
    top: 3px;
    right: 10px;
    border: 0.5px dashed #000;
    color: rgb(236, 16, 16);
    background-color:#fff;
    border-radius: 50%;

}
@media screen and (max-width:500px) {
    .overlay{
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(3px);
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s ease;
        z-index: 6;
    }
    .overlay.active{
        opacity: 1;
        pointer-events: all;
    }
    .nav-links{
        display: flex;
        position: absolute;
        top: 70px;
        right: 0;
        background-color: #2c3e50;
        flex-direction: column;
        width: 100%;
        transform: translateY(-100%);
        opacity: 0;
        pointer-events: none;
        transition: all 0.1s; 
         z-index: 7; 
    }
    .nav-links.open{
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
        transition: all 0.5s ease-in;
    }
    .nav-links>li{
        text-align: center;
        margin: 15px 0;
        animation: fadeIn 0.5s ease forwards;
    }
    .hamburger{
        display: flex;
    }
    .close-btn{
        display: block;
    }
}

@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}


.welcome-section{
    height: 90vh;
    background:radial-gradient(rgba(245, 242, 242, 0.1), rgba(87, 78, 78, 0.1)), url(images/array/array3/array3d.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}
.welcome-content h1{
    font-size: 3rem;
    margin-bottom: 1rem;
    font-family: 'Lucida Sans';
    font-style: italic;
}
.welcome-content h1>b{
    color:#f1c40f ;
  font-weight: bold;
   
}
.welcome-content p{
    font-size: 1.2rem;
    margin-bottom: 2rem;
}
.welcome-content a{
    padding:0.8rem 1.5rem ;
    background-color:#f1c40f ;
    background-color:#f327b6 ;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
}

/* roos section */
.rooms-section{
    padding: 80px 10%;
    background: #f8f9fa;
    text-align: center;
     z-index: 5;
}
.rooms-section h2{
    margin-bottom: 10px;
    font-size: 2.2rem;
    color: #333;
}
.section-subtitle{
    margin-bottom: 40px;
    font-size: 1rem;
    color: #777;
}
.rooms-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
}
.room-card{
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    overflow: hidden;
    opacity: 0;
    transform: translateY(30px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    will-change: transform, opacity;
    
}
.room-card.animate, .gallery-item.animate{
    animation: fadeUp 1s ease forwards;
}
@keyframes fadeUp {
    from{
        opacity: 0;
        transform: translateY(30px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.room-card:nth-child(1){
    animation-delay: 0.2s;
}
.room-card:nth-child(2){
    animation-delay: 0.4s;
}
.room-card:nth-child(3){
    animation-delay: 0.6s;
}
.room-card:nth-child(4){
    animation-delay: 0.8s;
}
.room-card:nth-child(5){
    animation-delay: 1s;
}
.room-card:nth-child(6){
    animation-delay: 1.2s;
}

.gallery-item:nth-child(1){
    animation-delay: 0.2s;
}
.gallery-item:nth-child(2){
    animation-delay: 0.4s;
}
.gallery-item:nth-child(3){
    animation-delay: 0.6s;
}
.gallery-item:nth-child(4){
    animation-delay: 0.8s;
}
.gallery-item:nth-child(5){
    animation-delay: 1s;
}
.gallery-item:nth-child(6){
    animation-delay: 1.2s;
}
.gallery-item:nth-child(7){
    animation-delay: 1.4s;
}
.gallery-item:nth-child(8){
    animation-delay: 1.6s;
}
.gallery-item:nth-child(9){
    animation-delay: 1.8s;
}
.gallery-item:nth-child(9){
    animation-delay: 2s;
}
.gallery-item:nth-child(10){
    animation-delay: 2.2s;
}


.room-card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.7s ease;
}
.room-card:hover img{
    transform: scale(1.08);
}
.room-card h3{
    margin: 15px 0 5px;
    color: #222;
}
.room-card p{
    color: #666;
    font-size: 0.95rem;
    padding: 0 15px;
    min-height: 60px;
}
.price{
    display: block;
    margin: 10px 0;
    font-weight: 600;
    color: #0a7b83;
}
.view-btn, .book-btn{
    background:  #2378e7;
    color: #fff;
    border: none;
    padding: 10px 25px;
    border-radius: 3px;
    margin-bottom: 20px;
    cursor: pointer;
    
}
.book-btn{
    background-color: #f327b6;
}
/* GALLERY */

.gallery-section{
    padding: 60px 10%;
    background-color: #f9f9f9;
    text-align: center;
}
.gallery-section h2, .contact-section h2{
    font-size: 2rem;
    margin-bottom: 10px;
    color: #222;
}
.gallery-section p, .contact-section p{
    color: #555;
    margin-bottom: 40px;
}
.picture-gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 250px;
    
    gap: 15px;
}
.gallery-item{
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    overflow: hidden;
    opacity: 1;
    transform: translateY(30px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    will-change: transform, opacity;
}
.gallery-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform ease, box-shadow 0.5s ease;
}
.gallery-item:hover img{
    transform: scale(1.05) rotate(1deg);
    filter: brightness(1.1);
    transition:all ease 2s;
}
.gallery-item.wide{
    grid-column: span 2;
}
.gallery-item.tall{
    grid-row: span 2;
}
@media screen and (max-width:500px){
    .gallery-item.wide, .gallery-item.tall{
        grid-column: span 1;
        grid-row: span 1;
    }
}


.image{
    opacity: 1;
    transition: opacity 3s ease;
}
.fade-out{
    opacity: 0.5;
}


/* video gallery */
.video-gallery{
    margin-top: 4rem;
    text-align: center;
}
.video-gallery h3{
    font-size: 1.4rem;
    color: #333;
    margin-bottom: 1.5rem;
    font-weight: 600;
}

.video-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    list-style: none;
    padding: 0;
}

.video-list li{
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border-radius: 3px;

}
.video-list li:hover{
    transform: scale(1.02); 
}
.video-list img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;   
}
.video-list li::after{
    content: "play";
    width: 20px;
    height: 20px;
    background-color: #222;
    clip-path: polygon(3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.video-list li:hover{
    opacity: 0.9;
}

.video-modal.active{
    display: flex;
    animation:  fadeIn 0.4s ease;
}

.video-modal iframe{
    width: 80%;
    height: 70vh;
    border-radius: 10px;
}

.close-modal{
    position: absolute;
    top: 30px;
    right: 50px;
    font-size: 1.8rem;
    color: #fff;
    cursor: pointer;
}

@keyframes fade {
    0%{
        
        transform: translateY(-20px);
    }
    
    100%{
        
        transform: translateY(0px);
    }

}
.h2{
    animation: fade 6.5s infinite;
}

/* Pricing section */
.pricing-section, .contact-section{
    padding: 80px 10px;
    background-color: #f8f9fa;
    text-align: center;
}
.pricing-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}
.pricing-card{
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    opacity: 0.5;
    transition: transform 0.4s eaes, box-shadow 0.4s ease;
}
.pricing-card ul{
    list-style: none;
}
.pricing-card.highlight{
    opacity: 1;
    transform: scale(1.05);
    box-sizing: border-box;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #007bff;
}

.contact-container{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    align-self: flex-start;
}
.contact-form{
    flex:  1 1 400px;
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contact-form input, .contact-form textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}
.contact-form button{
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 3px;
    cursor: pointer;
   
}
address.contact-infor{
    font-style: normal;
    flex: 1 1 250px;
    padding: 20px;
}
.contact-infor h3{
    margin-bottom: 15px;
    color: #333;
}
.contact-infor p{
    margin-bottom: 10px;
    color: #444;
}
/* about us */

.about-section {
  padding: 80px 10%;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  align-items: center;
  gap: 40px;
}

.about-image img {
  width: 100%;
  border-radius: 1px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  transition: transform 0.4s ease;
}

.about-image img:hover {
  transform: scale(1.03);
}

.about-content h2 {
  font-size: 2.2rem;
  color: #333;
  margin-bottom: 20px;
}

.about-content p {
  line-height: 1.7;
  color: #555;
  margin-bottom: 20px;
  font-size: 16px;
}

.btn-primary {
  display: inline-block;
  background: #f4b400;
  color: #111;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  transition: background 0.3s;
  font-weight: 600;
}

.btn-primary:hover {
  background: #ffc107;
}





/* footer */
footer{
    background-color: #111;
    color: #ddd;
    padding: 60px 10px;
    font-family: 'poppins', sans-serif;
}
.footer-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200, 1fr));
    gap: 40px;
}
footer h3 footer h4{
    color:#fff;
    margin-bottom:10px;
}
footer p footer ul{
    font-size: 14px;
    margin-bottom: 1.6rem;
}
footer ul{
    list-style: none;
    padding: 0;
}
footer ul li a{
    color: #ddd;
    text-decoration: none;
    padding: 0;
}
footer ul li a:hover{
    color: #f4b400;
}
footer form{
    display: flex;
    gap: 10px;
}
footer input{
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 4px;
    margin-top: 20px;
}
footer button{
    padding: 8px 16px;
    background: #f4b400;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
footer button:hover{
    background: #ffc107;
}
.contact{
    cursor: copy;
}
.social-icons{
    margin-top: 20px;
}
.social-icons a{
    margin-right: 12px;
    
    color: #ddd;
    font-size: 18px;
    translate: color 0.3s;
}
.social-icons a:hover{
    color: #f4b400;
}
.footer-bottom{
    text-align: center;
    border-top: 1px solid #333;
    padding-top: 20px;
    
    font-size: 14px;
}